@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
body {
  @apply bg-primary;
}

.heading-primary{
  @apply text-primary-dark
}

.heading-secondary{
  @apply text-secondary;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-white/20 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

@layer base {
    :root{
        --primary: #DBE4E9;
        --primary-dark: #2C3233;
        --secondary: #278291;
        --warn: '#F42F67';
        --monthly-stats-personal-label: #fffcc4;
        --monthly-stats-acadedmic-label: #a0e4e4;
        --monthly-stats-others-label: #98bcfc;
        --monthly-stats-work-label: #d0b4fc;
        --monthly-stats-personal-text: #7E7C1D;
        --monthly-stats-acadedmic-text: #FFFFFF;
        --monthly-stats-others-text: #1458C6;
        --monthly-stats-work-text: #6021D6;
        --completed: #9BE3E1;
        --unfinished: #FF94B3;
        --unfinished-header: #DC567C;
    }

    .dark{
        --background: '#2C3233'
    }
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
/* 
body {
  color: rgb(var(--foreground-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}